body {
  background: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: scroll;
}

.app {
  text-align: center;
  margin: 0 auto;
}

.app-content {
  animation: fadeIn 1s ease-in-out;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-title {
  text-align: center;
}

.app-title a {
  color: #61dafb;
  text-decoration: none;
}

.app-title a:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #3a85d3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  right: 20px;
}

.login-button:hover {
  background-color: #3069b1;
}