.form-container {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #61dafb;
    border-radius: 10px;
    margin-top: 3%;
  }

  .submitsuccess {
    color: #4CAF50;
  }

  .submitwarning{
    color: #f44336;
  }

  .option-input {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .start-test-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #61dafb;
    border-radius: 10px;
    margin-top: 3%;
  }

  .start-test-container p {
    font-size: 18px;
  }
  
  .button {
    padding: 15px;
    margin: 20px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 150px;
  }

  .start-test-button {
    background-color: #4285f4;
    color: #fff;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #357ae8;
    }
  }

  .back-to-home-button {
    background-color: #f44336;
    color: #fff;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #d32f2f;
    }
  }
  
  .next-button {
    background: #4285f4;
    color: #fff;

    &:hover {
      background-color: #357ae8;
    }
  }
  
  .submit-button {
    background: #4CAF50;
    color: #fff;
    
    &:hover {
      background-color: #388E3C;
    }
  }
  
  .back-button, .back-to-previous-content-button {
    background: #f44336;
    color: #fff;

    &:hover {
      background-color: #d32f2f;
    }
  }
  
  .container {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }

  .time-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #61dafb;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .time-left p {
    font-size: 18px;
    margin: 0;
  }
  
  .time-left div {
    font-weight: bold;
  }
  