.button-style {
  background: #3f515f;
  opacity: 0.8;
  color: #fff;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  transition: background 0.3s, transform 0.2s;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  overflow-x: hidden; 
}

.button-style:hover {
  background: rgb(72, 93, 107);
  transform: scale(1.05);
}

.message {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 16px;
  animation: fadeInOut 2s ease-in-out;
  background: #384855; /* Adjust the background color */
  color: #fff;
  border: 2px solid #61dafb;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 0.7;
  }
}

.category-image {
  width: 150px;
  height: 150px;
}