.add-test-form {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 30px;
}

.add-test-label {
  margin-bottom: 10px;
}

.add-test-input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.add-test-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-test-button:hover {
  background-color: #45a049;
}

.add-test-headline {
  margin-top: 0;
}