.examhistory {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    border: 2px solid #61dafb;
}

.emptyhistorycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.examhistoryempty {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #61dafb;
}

.attemptbutton {
    cursor: pointer;
}

.attempt-container {
    background: #333;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, transform 0.2s;
}

.attempt-container img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px;
    border-radius: 10px;
}

.attempt-details p {
    margin: 0;
    text-align: left;
}

h1 {
    text-align: center;
    color: #333;
}

.attempt-container:hover {
    background: #555;
    transform: scale(1.03);
}
